target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.properties
!**/src/main/resources/*.xml
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
.git/
.mvn/
.gradle/
bin/
build/
node_modules/
dist/
